:root {
    --text: #1A1A1A;
    --green: #00B172;
    --white: #FFF
}

body {
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.navbar {
    position:fixed;
    background-color: var(--white);
    width:100vw;
    height: 90px;
    display:flex;
    justify-content: space-between;
}

.navbar > img {
    height: 70%;
    align-self: center;
    padding-left: 15px;
}

.top-menu {
    align-self: center;
    margin-left: 15px;
}

.top-menu > ul > li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0px 15px;
}

.top-menu > ul > li > a {
    text-decoration: none;
    color: var(--text)
}

/* HEADER SECTION */
.header {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header > h1,h3 {
    color:white;
}

.header > h1 {
    font-size: 6rem;
    font-weight: 500;
    margin: 30px;
}

.header > h3 {
    font-size: 1.7rem;
    font-weight: 150;
    width: 50vw;
    align-self: center;
}

/* FEATURES SECTION */
.whats-on-spotify {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    display: inline-block;
    border-bottom: 4px solid var(--green);
    align-self: center;
    padding: 10px;
    margin: 30px 0px;
}

.feature-section {
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    margin-bottom: 50px;
}

.feature-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.image-container {
    height:130px;
}

.feature-img {
    width: 10vw;
    margin: 0 auto;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--green);
}

.feature-description {
    font-size: 1.3rem;
    color: var(--text);
    width: 50%;
    text-align: center;
}

/* OPTIONS SECTION */
.example-section {
    background-color: var(--green);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    color:white;
}

.example-text {
    height: 80%;
    display:flex;
    width:40%;
    flex-direction: column;
    justify-content: space-between;
}

.example-title {
    font-size: 2.2rem;
    text-decoration: underline;
    text-underline-offset: 15px;
    display: inline-block;
    margin-bottom: 30px;
}

.example-subtitle, .example-description {
    width: 60%;
}

.example-subtitle {
    font-size: 1.6rem;
    font-weight: 500;
}

.example-description{
    font-size: 1.5rem;
    font-weight: 100;
}

.white-logo {
    position: absolute;
    width: 10vw;
    left:50%;
}

.app-image {
    height:70%;
    z-index: 1;
}

