:root {
    --text: #1A1A1A;
    --green: #00B172;
    --white: #FFF
}

/* NAVBAR */
.navbar {
    position:fixed;
    background-color: var(--white);
    width:100vw;
    height: 90px;
    display:flex;
    justify-content: space-between;
}

.navbar > img {
    height: 70%;
    align-self: center;
    padding-left: 15px;
}

.top-menu {
    align-self: center;
    margin-left: 15px;
}

.top-menu > ul > li {
    display: inline-block;
    font-size: 1.5em;
    padding: 0px 15px;
}

.top-menu > ul > li > a {
    text-decoration: none;
    color: var(--text)
}

/* HEADER SECTION */
.header {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header > h1,h3 {
    color:white;
}

.header > h1 {
    font-size: 6em;
    font-weight: 600;
    margin: 30px;
}

.header > h3 {
    font-size: 2em;
    font-weight: 150;
    width: 50vw;
    align-self: center;
}

